{% extends "layout.html" %}
{% block title %}
    enfermedad 12
{% endblock %}

{% block body %}
<h3 id="encabzado">Hola, Bienvenido a PATHHEART :3 </h3>
<!-- <h3> {{ value }} Latidos/minuto</h3> -->
<center>

    <h2><b>{{title}}</b></h2>
    <p class="p1">{{text}}</p>
     <!-- <img src="/static/images/{{title}}.jpg" alt="taquicardia auricular" hspace="20" vspace="20"> -->
     <img src="/static/images/{{title}}.jpeg" alt="taquicardia auricular" hspace="20" vspace="20">  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</center>

{% endblock %}
