{% extends "layout.html" %}
{% block title %}
    review
{% endblock %}

{% block body %}

    <h2> {{ book.sbnNumber }} || {{ book.title }} ||</h2>
    <h2> {{ book.pubYear }}</h2>
    <h2>||{{ book.author }} </h2>

    <ul>
      {% for review in reviews  %}
          <li>


            {{ review.user }} ||{{ review.comentario }}

          </li>
      {% else %}
      <li> </li>
      {% endfor %}
    </ul>

    <form  method="post">
      <div class="form-group">
        <select class="form-control" name="rate">
            {% for rate in rates %}
              <option value="{{ rate }}">{{ rate }} </option>
            {% else %}
            <h3>no hay comentarios</h3>
            {% endfor %}
        </select>
      </div>
        <input type="text" class="form-control" name="review" id="sbnHeaderBox"  placeholder="insert coments book">

        <button type="submit" class="btn btn-primary">submit comment</button>
    </form>


{% endblock %}
